<ngb-carousel>
    <ng-template ngbSlide>
      <div class="carousel-item">
        <!-- <fa-icon [icon]="['fas', 'music']"></fa-icon> -->
        <h1>My Music</h1>
      </div>
    </ng-template>
  
    <ng-template ngbSlide>
      <div class="carousel-item">
        <!-- <fa-icon [icon]="['fas', 'camera']"></fa-icon> -->
        <h1>Photography</h1>
      </div>
    </ng-template>
  
    <ng-template ngbSlide>
      <div class="carousel-item">
        <!-- <fa-icon [icon]="['fas', 'heart']"></fa-icon> -->
        <h1>Community</h1>
      </div>
    </ng-template>
  </ngb-carousel>
  